<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        bootstrap="phpunit.bootstrap.php"
        stopOnError="true"
        verbose="true"
        processIsolation="false">
    <testsuites>
        <testsuite name="Everything">
            <directory suffix="Test.php">./module/*/test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./module/*/src</directory>
        </whitelist>
    </filter>
</phpunit>
