<?php
declare(strict_types=1);
return [
    'statuslib' => [
        'array_mapper_path' => 'data/statuslib.php',
    ],
    'zf-mvc-auth' => [
        'authentication' => [
            'adapters' => [],
        ],
    ],
    'db' => [
        'hostname' => '127.0.0.1',
        'username' => '',
        'password' => '',
    ],
    'view_manager' => [
        'display_exceptions' => true,
    ],
    'backend' => [
        'api' => [
            'manager' => 'token for managing the api configuration'
        ]
    ]
];

